header{
    font-family: sans-serif;
    text-align: center;
  }

  h1{
    text-align: center;
    color: #C15701;
  }

  body {
    margin: 0;
    padding: 0;
}
  
  article{
    text-align: center;
  }
  
  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 2px solid black;
  }
  
  figcaption{
    display: inline-block;
    background: #cbbaf5;
    margin: 10px auto;
    width: auto;
  }
  
  h3{
    color: grey;
    text-align: center;
  }

  a {
    font-weight: bold;
    color: #F2EBE3;
  }

  nav{
    background-color: #0A454C;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-left: 0;
    border-top: 10px solid #0A454C;
    border-bottom: 10px solid #0A454C;

  }

  ul li a {
    text-decoration: none;
    padding: 12px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

  ul li a:hover {
    text-decoration: underline;
  }